# --------------- APP CONFIGURATION -------------------
APP_PORT=3000
APP_ENV=development
APP_SECRET=your_super_secret_jwt_key_min_32_chars
JWT_REFRESH_SECRET=your_super_secret_refresh_key_min_32_chars
APP_JWT_EXPIRED=15m

# Admin de inicio (para prisma seed)
APP_ADMIN_EMAIL=admin@condofy.com
APP_ADMIN_PASSWORD=change_this_secure_password_123

# --------------- DATABASE CONFIGURATION ----------------
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=condofy

# --------------- PRISMA CONFIGURATION ----------------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/condofy?schema=public"
